HELP.md

target/classes
target/generated-sources
target/generated-test-sources
target/maven-archiver
target/maven-status
target/surefire-reports
target/test-classes
target/BakeryRecipe-0.0.1-SNAPSHOT.jar.original
*.iml
.idea/*
.mvn
test-output

testdb.trace.db
testdb.mv.db