<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <!-- Bootstrap CSS -->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>-->
<!--    <link rel="stylesheet" href="/index.css" type="text/css">-->
</head>

<body>
    <div class="download" style="background-image: url(https://img.freepik.com/fotos-premium/fondo-navidad-hornear-ingredientes-cocinar-reposteria-navidena-harina-huevos-azucar-especias_90380-380.jpg?w=1380);
    height: 90vh;text-shadow: black 0.1em 0.1em 0.2em;background-position:center; background-repeat: no-repeat;" >
        <div class="container" style="@font-face {
            font-family: Roboto,Serif,Serif;
        }" >
            <h1 class="first text-center" style="margin-bottom: 0;color: white;padding-top: 180px;text-align: center;font-size: 70px;
    font-weight: bold;"></h1>
            <h1 class="second text-center" style="margin-top: 0;color: #ffae11;text-align: center;font-size: 70px;
    font-weight: bold;">Welcome to BakeryRecipe</h1>
            <p class="third text-center" style="margin-top: 30px;color: white;text-align: center;font-size: 30px;" th:text="${'Hello, ' + name}" ></p>
            <p class="fourth text-center" style="margin-top: 0;color: white;text-align: center;font-size: 30px;text-shadow: black 0.1em 0.1em 0.2em;">Please click the button below to verify your account!!</p>
            <div class="row" style="display: flex;justify-content: center;align-items: center;" >
                <button class="col-2" style="margin-top: 20px;margin-left: auto;margin-right:auto;text-align:center;background-color: #f50049;color: white;border-radius: 30px;height: 60px;font-size: 25px;"><a class="now" style="color: white;text-decoration: none;" th:href="@{http://localhost:3000/verify/{string}(string=${code})}">VERIFY LINK</a></button>
            </div>

            <p class="fifth text-center" style="margin-top: 30px;color: white;text-align: center;font-size:30px;text-shadow: black 0.1em 0.1em 0.2em;">Want to learn about BakeryRecipe?<a class="touch" style="color: red;font-size: 25px;" href="#">Get in touch</a></p>
        </div>
    </div>
</body>
</html>